# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.gif
*.mp4

# Files from Forge MDK
forge*changelog.txt

# Things that don´t belong uploaded
Download/
servers.dat
usercache.json
usernamecache.json
whitelist.txt
build/
options.txt
*.ini
cmd.lnk
*.sh




